body {
  background-color: #BAD5E0;
  margin: 0px;
}

h1, h2, p {
  font-family: "Open sans", arial, sans-serif;
  margin: 1em;
}

a {
  font-family: "Open sans", arial, sans-serif;
  color: black;
}

.title {
  width: 100%;
  height: auto;
  display: flex;
  flex: 0 1 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #3092E3;
  padding-top: 0px;
  margin-bottom: 1em;
}

.projects {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.br {
  display: block;
  margin-bottom: 10em;
}
.about {
  color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: baseline;
}
.container {
  position: relative;
  width: 15%;
}

.image {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-family: "Open sans";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
